#content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.stack_center {
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
