<!DOCTYPE html>
<html lang="en">
  {% include 'static/header.html' %}
  <body>
    <div class="stack_center" id="content">

	<!-- Your stuff here -->

    <h1> Hackable Bank </h1>
        <div class="stack_center" id="logging_tools">
            {% if logged_in %}
                {% if is_admin %}
                    <button onclick="give_me_flag()" id="flag_button">FLAG ME</button>
                {% endif %}
                <button onclick="sign_out()" id="sign_out_button">Logout</button>
                <br/>
                <br/>

                <p>Search for users to send money to.</p>
                <form action="{{ url_for('search_users') }}" method="POST">
                    <input type="text" name="username">
                    <input type="submit">
                </form>

                {% if users %}
                    {% for user in users %}
                        <p>{{ user.username}} | {{user.password}} </p>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if not logged_in %}
            <div id="sign_in_tools">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" id="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw" required>

                <button onclick="sign_in()">Login</button>
            </div>
            <button onclick="register()" id="register_button">Register</button>
            {% endif %}

        </div>
        
    </div>

  	{% include 'static/footer.html' %}
  </body>
</html>
